.topNav{
    display: inline-block;
    padding: 20px;
    background-color: grey;
    width: 140px;
    text-align: center;
    color:white;
}
.navContainer { 
    background-color:lightgrey;
    width: 100%;
}
.sideBar{
    float: left;
    width: 29%;
    background-color: blue;
    height: 500px;
}
.mainBlock{
    width: 70%;
    height: 500px;
    float: left;
    background-color: aquamarine;
}